<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3.0.2"></script>

</head>
<style>
    body{
        background-color: #ddd;
    }
    .container, .section2{
        max-width: 960px;
        margin: 20px auto;
    }
    .fav{
        color: red;
    }
     .for-loop{
        margin: 0;
        padding: 0;
    }
    img{
        width:400px;
        height: 600px;
    }
    .box{
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background-color: rgba(116, 4, 4, 0.333);
        margin: 20px;
        display: inline-block;
    }
    #mouse-events{
        text-align: center;
    }
</style>
<body>
    <nav 
        :class="[`navbar-${theme}`, `bg-${theme}`, 'navbar', 'navbar-expand-lg']">
        <a class="navbar-brand" href="#">Vue Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li v-for="(page, index) in pages" class="nav-item active" :key="index">
                <a class="nav-link "
                :class="{ active: activePage == index }"
                :href="page.link.url"
                :title="`This Link Goes To ${page.text}`"
                @click.prevent="activePage=index"
                >{{ page.link.text }}</a>
              </li>
          </ul>
          <form class="d-flex">
            <button class="btn btn-primary"
            @click.prevent="changeTheme()"
            >Toggle
            </button>
          </form>
        </div>
      </nav>

    <div id='content' class="container">
        <h1>{{ pages[activePage].pageTitle }}</h1>
        <p>{{ pages[activePage].paragraph }}</p>
    </div>

    <div id="section2">
        <!-- <h1>Hey there</h1> -->

            <!-- Dynamically display content, onClick Events -->
        <div v-if="showMovies">
            <p>{{ heading }}</p>
            <p>{{ author }} - {{ age }}</p>
            <button @click="age++">
                Increase Age
            </button>
            <button @click="age--">
                Decrease Age
            </button>
            <div>
                <button @click="changeHeading('Money Hustle and Flow')">
                    Change Title
                </button>
            </div>
           

            <!-- For Loop -->
            <div>
                <ul class="for-loop">
                    <li v-for="movie in movies"  v-bind:class="{ fav: movie.isFav }"
                    >
                        <h3>{{ movie.movieTitle }}</h3>
                        <img :src="movie.poster" alt="{{ movie.movieTitle }}" />
                        <h4>{{ movie.mainCharacter }}</h4>
                    </li>
                </ul>
            </div>
        </div>
                <!-- Conditional Rendering -->
        <button @click="toggleShowMovies">
            <span v-if="showMovies">Hide Movies</span>
            <!-- <span v-if="!showMovies">Show Movies</span> -->
            <span v-else>Show Movies</span>
        </button>
        <div v-show="showMovies"><b>Currently Showing Movies</b></div>
    </div>

    <!-- Mouse events -->
    <h2 id="mouse-events">Mouse Events</h2>
    <div id='over' class="box" @mouseover="handleEvent($event, 5)">Mouse Over (enter)</div>
    <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
    <div class="box" @dblclick="handleEvent" >Double Click</div>
    <div class="box" @mousemove="handleMouseMove">Position - {{ x }} - {{ y }}</div>

   <div>
    Created and deployed by
    <a :href="url">
        John Nganga
    </a>
   </div>
    <script src="app.js"></script>
</body>
</html>